<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="duud_display_text">
        <observer name="dd_display_text" instance="Duud\CustomNav\Observer\MyOb" />
    </event>
</config>